.sidebar {
	grid-area: Side;
	background-color: #ecad1f;
 }

 li{
	list-style-type: none;
 }

 a{
	 color:white;
	 text-decoration: none;
 }
 a:hover{
	 text-decoration:underline;
 }

 a.active{
	 color:black;
 }