.Main {
  display: grid;

  grid-template-areas:
    "Head Head"
    "Side Cont";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}

.Header {
  grid-area: Head;
  background-color: #00afde;
}
.Header img {
  height: 60px;
}

.Sidebar {
  grid-area: Side;
  background-color: #ecad1f;
}

.Content {
  grid-area: Cont;
}

.Content__head {
  max-height: 250px;
  overflow: hidden;
}
.Content__head img {
  width: 100%;
}

.Content__profil{
  display: flex;
}

.Content__profil img{
  width: 150px;
}

.MyPosts__post{
  width: 100%;
  height: 150px;
  background-color: #FEF641;
  margin: 1rem auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
